<!DOCTYPE html>
{%load static%}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Floricultura</title>
        <link rel="stylesheet" href="static/css/base.css" type="text/css">
        <link rel="icon" type="imagem/png" href="/static/img/flor.png" />
    </head>
    <body>
        <div id="page">
            <div id="barraup">
                <nav id="barrac">
                    <ul>
                        <li><a href="https://tableless.com.br/criando-um-menu-horizontal-com-css/">In&iacute;cio</a></li>
                        <li><a href="#">Cliente</a></li>
                        <li><a href="#">Funcion&aacute;rio</a></li>
                        <li><a href="#">Produto</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </nav>
                <!--<nav class="barra">Ol&aacute;</nav>-->
                <div id="menu">
                    <div id="barradown">
                        <p>Olha s&oacute;</p>
                        <p class="nome">Anderson</p>
                        <p class="nome">Denilson</p>
                        <p class="nome">J&aacute;rdesson</p>
                        <p class="nome">Nayara Aguiar</p>
                        <p class="nome">La&iacute;s Azevedo</p>
                    </div>
                </div>
            </div>
        </div>
        <nav id="barrab">
            <ul>
                <li>
                    Copyright Anderson's 2019. All Rights Reserved.
                </li>
            </ul>
        </nav>
    </body>
</html>