    html {
      height: 100%;
    }
    body {
      min-height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
    }
#barrac ul{
    font-family: arial;
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#barrab ul{
    font-family: arial;
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;

}
#barrac ul li {
    display: inline;
}

#barrab ul li{

    text-align: center;
}
#barrac ul li a {
    padding: 10px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#barrac ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #000000;
}
page{    font-family:arial;}

barraup{
    font-family:arial;
}
darradown{    font-family:arial;}

menu{    font-family:arial;}

p.nome{    font-family:arial;}

p.copy{
    text-align: center;
    font-style: italic;
}
